h2 {
    color: white;
    background-color: rgba(184, 129, 67, 0.911);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }
 
   h1.title {

color: white;
    text-align: center;
    background-color: rgb(168, 111, 63);
   }
   div.subtext {
color: rgb(102, 83, 59);
font-family: 'Montserrat', sans-serif;
text-align: center;
background-color: tan;
font-size: 25px;


   }
div.texto {
   background-color: rgb(126, 61, 201);
   color: white;
   text-align: center;
   font-size: 25px;
   font-family: 'Montserrat', sans-serif;
}
div.principal {
  background-color: rgb(63, 96, 168);
  color: white;
   text-align: center;
   font-size: 25px;
   font-family: 'Montserrat', sans-serif;
}
   
   div.AD {
     font-size: 25px;
     font-family: 'Montserrat', sans-serif;
     color: rgb(112, 74, 42);
     text-align: center;
   }
   .contenedor {
    font-family: 'Montserrat', sans-serif;
    color: rgb(67, 180, 184);
   }

   h3.contenedor_bio {

    font-family: 'Montserrat', sans-serif;
    color:  rgb(67, 180, 184);
    text-align: center;
   }
   p.contenedor_sub_bio {
    font-family: 'Montserrat', sans-serif;
    color: rgb(67, 180, 184);
    text-align: center;

   }

   div.subtitulo {

    font-family: 'Montserrat', sans-serif;
    color: rgb(67, 180, 184);
    text-align: center;

   }
   h1.nosotrostitulo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(168, 111, 63);
    text-align: center;

   }

h3.contenedor_descripcion {
   text-align: center;
}
p.contenedor_subtitulo {
   text-align: center;
}